@import url("/CSS/components.css");

/******** Main body **************/

/******** home *******/

.home--container {
  width: 70vw;
  margin: 10rem 0 0 32rem;
}

.code-appear {
  color: var(--red-color);
}

.parentContainer {
  position: relative;
}

.highlight {
  color: var(--red-color);
  font-weight: 500;
  font-size: 2rem;
}

/******  main body ************/

body {
  background-color: var(--background-color);
}

/* heading */

.first-heading {
  font-size: 4rem;
  margin: 12rem 0 2rem 0;
}

.second-heading {
  font-size: 2rem;
  margin: 4rem 0;
}

.third-heading {
  font-size: 2rem;
  margin: 0 4rem 0 0;
}

.fourth-heading {
  font-size: 1.5rem;
  margin: 0 4rem 0 0;
}

.first-para {
  font-size: 2rem;
  margin: 2vh 0;
  color: var(--text-color);
}

.second-para {
  font-size: 1.8rem;
  margin: 1vh 0;
  color: var(--text-color);
}

.iFrame {
  width: 60vw;
  border: 0;
  margin: 5rem 0 8rem 0;
}

/* footer */

.nav_btn {
  background: var(--white-color);
  border: none;
  font-weight: bolder;
  margin: 4rem;
  padding: 1rem;
  cursor: pointer;
}

.nav_btn:hover {
  text-decoration: underline;
}

/* main page */

.mainPage {
  width: inherit;
  height: inherit;
  margin-top: 8rem;
}

/****** mobile version  *****/

@media only screen and (max-width: 800px) {
  .drawer {
    width: 60vw;
  }
  .home--container {
    margin: 10rem 0 0 10rem;
  }
}
