@import url('/CSS/components.css');

/******** Main body **************/

/******** home *******/

.home--container {
  margin: 10vh;
  width: 70vw;
}

.code-appear {
  color: var(--red-color);
}

.parentContainer {
  position: relative;
}

.highlight {
  color: var(--red-color);
  font-weight: 500;
  font-size: 2rem;
}

/******  main body ************/

body {
  background-color: var(--background-color);
}

/* heading */

.first-heading {
  font-size: 4rem;
  margin: 12vh 0 2vh 0;
}

.second-heading {
  font-size: 2rem;
  margin: 4vh 0;
}

.third-heading {
  font-size: 2rem;
  margin: 0 4rem 0 0;
}

.fourth-heading {
  font-size: 1.5rem;
  margin: 0 4rem 0 0;
}


.first-para {
  font-size: 2rem;
  margin: 2vh 0;
  color: var(--text-color);
}

.second-para {
  font-size: 1.8rem;
  margin: 1vh 0;
  color: var(--text-color);
}

.iFrame {
  margin: 3vh 0 6vh 0;
}

.iFrame {
  width: 942px;
  border:0;  
  /* min-height: 25vh; */
  /* height: 489px;  */
}

/* footer */

.nav_btn {
  background: var(--white-color);
  border: none;
  font-weight:bolder;
  margin: 4vh;
  padding: 1rem;
  cursor: pointer;
}

.nav_btn:hover {
  text-decoration: underline;
}

/* main page */

.mainPage {
  width: inherit;
  height: inherit;
  margin-top: 8vh;
}

/****** mobile version  *****/

@media only screen and (max-width: 800px) {
  .drawer {
    width: 60vw;
  }
}
