@import url('/CSS/components.css');

/******** Main body **************/

/******** home *******/

.home--container {
  margin: 10vh;
  width: 70vw;
}

.code-appear {
  color: red;
}

.parentContainer {
  position: relative;
}

/******  main body ************/

body {
  background-color: var(--background-color);
}

/* .navBar {
  height: 8vh;
  width: 100vw;
  background: var(--secondary-color);
  color: white;
  display: flex;
  align-items: center;
  position: fixed;
  font-size: 1.3rem;
  z-index: 10;
}

.fa-bars {
  margin: 0 2rem;
  padding: 0.5rem;
}

.fa-bars:hover {
  background: gray;
}

h3 a{
  text-decoration: none;
  color:white;
}

h3 a:hover{
  color: var(--primary-color);
} */


/* footer */

.nav_btn {
  background: whitesmoke;
  border: none;
  cursor: pointer;
}

.nav_btn:hover {
  text-decoration: underline;
}

/* main page */

.mainPage {
  width: inherit;
  height: inherit;
  margin-top: 8vh;
}

/****** mobile version  *****/

@media only screen and (max-width: 800px) {
  .drawer {
    width: 60vw;
  }
}


/* common */

.wrap {
  flex-wrap: wrap;
}

.h-4 {
  font-size: 4rem;
}
.h-2 {
  font-size: 2rem;
}
.h-1h {
  font-size: 1.5rem;
}

.b-2 {
  border: 2px solid gray;
}

.m-a{
  margin: auto;
}
.mt2-mb6 {
  margin: 3vh 0 6vh 0;
}
.mv-4 {
  margin: 4vh 0;
}
.m-4 {
  margin: 4vh;
}

.p-1 {
  padding: 1rem;
}

.br-5 {
  border-radius: 5px;
}

.fw-1 {
  font-weight:bolder;
}

.gray {
  color: gray;
}

