.navBar {
    height: 8vh;
    width: 100vw;
    background: var(--secondary-color);
    color: var(--white-color);
    display: flex;
    align-items: center;
    position: fixed;
    font-size: 1.3rem;
    z-index: 10;
    box-shadow: 4px 4px 4px var(--boxShadow-color);
  }
  
  .fa-bars {
    margin: 0 2rem;
    padding: 0.5rem;
  }
  
  .fa-bars:hover {
    background-color: var(--darkGray-color);
  }
  
  h3 a{
    text-decoration: none;
    color:var(--white-color);
  }
