.drawer {
  width: 14vw;
  min-height: 100vh;
  position: fixed;
  background-color: var(--white-color);
  background-color: var(--background-color);
  overflow-y: scroll;
  z-index: 8;
  border: 2px solid var(--darkGray-color);
  padding-right: 2px;
  scrollbar-width: none;
  scroll-behavior: smooth;
  box-shadow: 8px 8px 8px var(--boxShadow-color);
}

.title {
  height: 8vh;
  background: var(--black-color);
  color: var(--white-color);
  display: flex;
}

.drawerHeading {
  margin: auto;
  cursor: pointer;
}

.textDrawer {
  margin: 0 1rem;
}

.sideBar {
  height: 6vh;
  border: 1px solid var(--white-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}

.sideBar:hover {
  background-color: var(--primary-color);
}

.drawer .selectedSidebar {
  background-color: var(--primary-color);
  color: var(--primary-color);
}

a {
  color: var(--darkBlue2-color);
  text-decoration: none;
}

@media only screen and (max-width: 800px) {
  .drawer {
    visibility: hidden;
  }
}
