* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

/* h2 {
  font-size: 1.6rem;
} */

.logo{
  font-size: 2.7vh;
  margin-left: 1.5rem;
  -webkit-text-stroke: 1px var(--primary-color);
}

/********** Colors ***********/

:root {
  --primary-color: rgb(0, 212, 202);
  --secondary-color: black;
  --background-color: rgb(248, 244, 221);
  --white-color: white;
  --greenishWhite: rgb(225, 228, 226);
  --black-color: black;
  --gold-color: gold;
  --coral-color: coral;
  --darkCoral-color: rgb(236, 111, 65);
  --lightred-color: rgb(250, 120, 120);
  --red-color: red;
  --darkRed-color: darkred;
  --crimson-color: crimson;
  --superlightBlue-color: rgb(200, 209, 236);
  --lightblue-color: skyblue;
  --deepBlue-color: #2196F3;
  --darkBlue-color: darkblue;
  --blue-color: blue;
  --yellowgreen-color: #aaf321;
  --lightgreen-color: lightgreen;
  --superlightgreen-color: rgb(227, 252, 227);
  --green-color: green;
  --darkGreen-color: rgb(0, 75, 0);
  --lightseagreen-color: lightseagreen;
  --seagreen-color: rgb(7, 151, 144);
  --lightorange-color: rgb(255, 224, 185);
  --darkOrange-color: rgb(243, 134, 0);
  --orange-color: orange;
  --gray-color:rgb(187, 187, 214);
  --lightgray-color:lightgray;
  --darkGray-color:gray;
  --superdarkGray-color:gray;
  --redishGray-color: rgb(112, 103, 103);
  --purple-color: purple;
  --blueviolet-color: blueviolet;
  --seagreenishWhite:rgb(247, 255, 254);
  --boxShadow-color: rgb(109, 109, 109);
  --description-backgroundColor: rgb(252, 246, 246);
  --description-onhoverColor: rgb(252, 246, 246);

  /* --highlight-color: rgb(0, 212, 202); */
}

/*****  container C*******/

.Container {
  min-height: 100vh;
  width: 100%;
  display: flex;
}


.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-direction {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.space-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.close {
  margin: 2.4rem 2rem 0 0;
}


/* common */

button {
  cursor: pointer;
}

.h-4 {
  font-size: 4rem;
}
.h-2 {
  font-size: 2rem;
}
.h-1h {
  font-size: 1.5rem;
}

.b-2 {
  border: 2px solid var(--darkGray-color);
}
.br-5 {
  border-radius: 5px;
}


.m-a{
  margin: auto;
}
.mt2-mb6 {
  margin: 3vh 0 6vh 0;
}
.mr-1 {
  margin-right: 1rem;
}
.mv-2 {
  margin: 2vh 0;
}
.mv-4 {
  margin: 4vh 0;
}
.m-4 {
  margin: 4vh;
}
.mv-6 {
  margin: 6vh 0;
}
.mv-8 {
  margin: 8vh;
}
.mr-1 {
  margin-right: 1rem;
}
.m-r-4 {
  margin: 0 4rem 0 0;
}

.p-1 {
  padding: 1rem;
}
.p24 {
  padding: 2rem 4rem;
}


.fw-1 {
  font-weight:bolder;
}

.gray {
  color: gray;
}
.sp-12 {
  margin: 12vh 0 20vh 0;
}



/****** mobile version  *****/

@media only screen and (max-width: 800px) {
  .drawer {
    width: 70vw;
  }
}