* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

h2 {
  font-size: 1.6rem;
}

.logo{
  font-size: 2.7vh;
  margin-left: 1.5rem;
  -webkit-text-stroke: 1px var(--primary-color);
}

/********** Color ***********/

:root {
  --primary-color: rgb(0, 212, 202);
  --secondary-color: black;
  --background-color: rgb(248, 244, 221);
  /* --highlight-color: rgb(0, 212, 202); */
}

/*****  container C*******/

.Container {
  min-height: 100vh;
  width: 100%;
  display: flex;
}


.m-r-4 {
  margin: 0 4rem 0 0;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.space-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.close {
  margin: 2.4rem 2rem 0 0;
}

/****** mobile version  *****/

@media only screen and (max-width: 500px) {
  .drawer {
    width: 60vw;
  }
}