<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/AUIFav.JPG">
    <link rel="stylesheet" href="/Components/Image/image.css">
    <script src="https://kit.fontawesome.com/d53bb09bcf.js" crossorigin="anonymous"></script>

    <title>Aesthetic | Images page</title>
</head>

<body>
    <div class="Container parentContainer" id="modalDrawerMainBody">

        <header>
            <div class="navBar space-between">
                <div class="nav-left space-evenly">
                    <i class="fas fa-bars hamburgerMenu" id="hamburgerMenuModal"></i>
                    <h3 class="third-heading logo"><a href="/index.html">Aesthetic-UI</a></h3>
                </div>
                <div class="nav-right space-evenly">
                    <h3 class="third-heading"><a href="/index.html">Get Started</a></h3>
                    <h3 class="third-heading"><a href="/home.html">Docs</a></h3>
                </div>
            </div>
        </header>

        <main>
            <div class="drawer" id="modalDrawer">
                <div class="title">
                    <h2 class="drawerHeading">Menu</h2>
                    <i class="fas fa-times close" id="close"></i>
                </div>
                <div class="sideBar">
                    <a href="/Components/Alert/alert.html">Alert</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Avatar/avatar.html">Avatar</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Badge/badge.html">Badge</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Button/button.html">Button</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Card/card.html">Card</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Grid/grid.html">Grids</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Image/image.html">Images</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Input/input.html">Input</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Lists/lists.html">Lists</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Modal/modal.html">Modal</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Navigation/navigation.html">Navigation</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Rating/rating.html">Rating</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Slider/slider.html">Slider</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Snackbar/snackbar.html">Snackbar</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/TextUtilities/textutilities.html" target="_blank" >Text Utilities</a>
                </div>
            </div>


            <div class="image--container ">
                <h1 class="first-heading">Responsive images</h1>
                <p class="first-para">Responsive Image Components are used to dsiplay Images on websites, which are
                    screen responsive. They expand upto the width of the container they are in. </p>

                <h2 class="second-heading">1) Square images</h2>
                <div class="square--img space-evenly wrap">
                    <img class="square__img square__img--sm" src="/images/photo-man.jpg" alt="small image"
                        srcset="">
                    <img class="square__img square__img--md" src="/images/photo-man.jpg" alt="medium image"
                        srcset="">
                    <img class="square__img square__img--lg" src="/images/photo-man.jpg" alt="large image"
                        srcset="">
                </div>


                <div class="square__img__frame center">
                    <iframe class="iFrame"
                    src="https://carbon.now.sh/embed?bg=rgba%2880%2C227%2C194%2C1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522square--img%2520space-evenly%2520wrap%2522%253E%250A%2509%253Cimg%2520class%253D%2522square__img%2520square__img--sm%2522%2520src%253D%2522%252Fimages%252Fphoto-man.jpg%2522%2520alt%253D%2522small%2520image%2522%250A%2509%2509%2509srcset%253D%2522%2522%253E%250A%2509%253Cimg%2520class%253D%2522square__img%2520square__img--md%2522%2520src%253D%2522%252Fimages%252Fphoto-man.jpg%2522%2520alt%253D%2522medium%2520image%2522%250A%2509%2509%2509srcset%253D%2522%2522%253E%250A%2509%253Cimg%2520class%253D%2522square__img%2520square__img--lg%2522%2520src%253D%2522%252Fimages%252Fphoto-man.jpg%2522%2520alt%253D%2522large%2520image%2522%250A%2509%2509%2509srcset%253D%2522%2522%253E%250A%253C%252Fdiv%253E"
                    sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>



                <h2 class="second-heading">2) Round images </h2>
                <div class="round--img space-evenly wrap">
                    <img class="round__img round__img--sm" src="/images/photo-fem.jpg" alt="small round" srcset="">
                    <img class="round__img round__img--md" src="/images/photo-fem.jpg" alt="medium round"
                        srcset="">
                    <img class="round__img round__img--lg" src="/images/photo-fem.jpg" alt="large round" srcset="">
                </div>

                <div class="round__img__frame center">
                    <iframe class="iFrame"
                    src="https://carbon.now.sh/embed?bg=rgba%2880%2C227%2C194%2C1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522round--img%2520space-evenly%2520wrap%2522%253E%250A%2509%253Cimg%2520class%253D%2522round__img%2520round__img--sm%2522%2520src%253D%2522%252Fimages%252Fphoto-fem.jpg%2522%2520alt%253D%2522small%2520round%2522%253E%250A%2509%253Cimg%2520class%253D%2522round__img%2520round__img--md%2522%2520src%253D%2522%252Fimages%252Fphoto-fem.jpg%2522%2520alt%253D%2522medium%2520round%2522%253E%250A%2509%253Cimg%2520class%253D%2522round__img%2520round__img--lg%2522%2520src%253D%2522%252Fimages%252Fphoto-fem.jpg%2522%2520alt%253D%2522large%2520round%2522%253E%250A%253C%252Fdiv%253E"
                    sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>

                <h2 class="second-heading">3) Responsive image</h2>
                <div class="responsive--img space-evenly wrap">
                    <img class="responsive__img" src="/images/bg6.jpg" alt="responsive image" srcset="">
                </div>

                <div class="responsive__img__frame center">
                    <iframe class="iFrame"
                    src="https://carbon.now.sh/embed?bg=rgba%2880%2C227%2C194%2C1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522responsive--img%2520space-evenly%2520wrap%2522%253E%250A%2509%253Cimg%2520class%253D%2522responsive__img%2522%2520src%253D%2522%252Fimages%252Fbg6.jpg%2522%2520alt%253D%2522responsive%2520image%2522%2520srcset%253D%2522%2522%253E%250A%253C%252Fdiv%253E"
                    sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>

            </div>
        </main>

    </div>

    <footer class="space-between">
        <button class="nav_btn prev_page"><a href="/Components/Grid/grid.html">&lt; Grid</a></button>
        <button class="nav_btn next_page"><a href="/Components/Input/input.html">Input &gt;</a></button>
    </footer>
    <script src="/script/home.js"></script>
</body>

</html>