@import url('/CSS/components.css');

/******** Main body **************/

/******** Avatar *******/

.grid--container {
  margin: 10vh;
  width: 70vw;
}

.grid-twoItems {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: auto auto;
    background-color: var(--deepBlue-color);
    padding: 20px;
  }
  
  .grid-threeItems {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: auto auto auto;
    background-color: var(--yellowgreen-color);
    padding: 20px;
    height: 18vh;
  }

  .grid-multipleItems {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: auto auto auto;
    background-color: var(--lightred-color);
    padding: 10px;
  }
  
  .grid-item {
    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .grid__frame {
      margin: 8vh 20vw;
  }

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-direction {
  display: flex;
  flex-direction: row;
  align-items: center;
}


/****** mobile version  *****/

@media only screen and (max-width: 800px) {

}



