@import url('/CSS/components.css');

/********* card ********/

.card--container {
    margin: 10vh;
    width: 70vw;
    justify-content: center;
}


/* each card */

.card-section {
    min-width: 20vw;
    min-height: 19vh;
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
    border-radius: 10px;
    background-color: var(--superlightGray-color);
}

.card {
    min-height: 20vh;
    width: 16vw;
    border: 4px solid var(--black-color);
    background: white;
    border-radius: 10px;
    margin: auto;
    box-shadow: 10px 10px 5px var(--boxShadow-color);
    margin: 10rem;
    font-size: 1.2rem;
    object-fit: cover;
}

.heading {
    margin: 0.5rem;
}

.card-img {
    width: 15.48vw;
    height: 20vh;
}

.description {
    padding: 1rem;
    background-color: var(--description-backgroundColor);
    display: flex;
    flex-wrap: wrap;
}

.description:hover {
    background-color: var(--description-onhoverColor);
}

.card-footer {
    margin: 0.5rem 0.5rem;
    display: flex;
    justify-content: space-between;
}

.footer-btns {
    padding: 0.5rem 0.3rem;
    color: var(--blue-color);
    cursor: pointer;
    display: flex;
}

.card-icons {
    display: flex;
}

.footer-btns:hover {
background-color: var(--blue-color);
color: var(--white-color);
}

.card-icons i {
    padding: 0 0.8rem;
    cursor: pointer;
}

/******** Badge Card *******/

.badge-Card .card {
    position: relative;
}

.badge-Card .card .badge-on-Card {
    background-color: var(--red-color);
    color: var(--white-color);
    position: absolute;
    top: 0.5rem;
    left: 0.4rem;
    font-size: 1.5rem;
    border-radius: 0 1rem 1rem 0;
    padding: 2px 6px;
}


/******** Dismiss Card *******/

.dismiss-Card {
    position: relative;
}

.dismiss-Card .dismiss-icon {
    color: var(--white-color);
    position: absolute;
    top: 0.5rem;
    left: 14.2vw;
    cursor: pointer;
}

/********  Text only Card *******/


.text-only-Card .card {
    border-radius: 0;
}

.text-only-Card .background-Image {
    display: none;
}

.text-only-Card .footer {
    display: none;
}


/***********  Text Over Media Card ***********/

.text-Over-Media-Card {
    position: relative;
}

.heading-On-Top {
    color: var(--white-color);
    position: absolute;
    top: 48%;
}

/*********  onlyButtonsCard ********/

.only-Buttons {
    visibility: hidden;
}

/*********  only Icons Card ********/

.only-Icons {
    visibility: hidden;
}

.container {
    display: flex;
    justify-content: space-between;
}

/*  Horizontal Image Text Card */

.side-Image {
    height: 14vh;
    width: 11vw;
    border-bottom-right-radius: 0.8rem;
}

.horizontal-Image-Text-Description {
    display: none;
}

/************  desktop ******************/

@media only screen and (max-width: 700px) {
    .card--container {
        width: 100vw;
        display: flex;
        margin: auto;
    }

    .card {
        width: 78vw;
    }

    .card-img {
        width: 77vw;
    }

    .dismiss-Card .dismiss-icon {
        left: 72vw;
    }

    .side-Image {
        height: 13vh;
        width: 48vw;
    }
}
