@import url('/CSS/components.css');

/********* card ********/

.card--container {
    margin: 10vh;
    width: 70vw;
    justify-content: center;
}


/* each card */

.card-section {
    min-width: 20vw;
    min-height: 19vh;
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
}

.card {
    min-height: 19vh;
    width: 18.2vw;
    border: 4px solid var(--black-color);
    background: white;
    border-radius: 10px;
    margin: auto;
    box-shadow: 4px 5px var(--boxShadow-color);
    margin: 10rem;
}

.heading {
    margin: 0.5rem;
}

.background-Image {
    width: 50rem;
}

.description {
    padding: 0.5rem;
    background-color: var(--description-backgroundColor);
    display: flex;
    flex-wrap: wrap;
}

.description:hover {
    background-color: var(--description-onhoverColor);
}

.footer {
    margin: 1rem 0.5rem;
    display: flex;
    justify-content: space-between;
}

.footer-btns {
    padding: 0.5rem;
    color: var(--blue-color);
    cursor: pointer;
}

i {
    margin: 0 0.6rem;
    cursor: pointer;
}

/******** Badge Card *******/

.badge-Card .card {
    position: relative;
}

.badge-Card .card .badge-on-Card {
    background-color: var(--red-color);
    color: var(--white-color);
    position: absolute;
    top: 0.5rem;
    left: 0.4rem;
    font-size: 1.5rem;
    border-radius: 0 1rem 1rem 0;
    padding: 2px 6px;
}


/******** Dismiss Card *******/

.dismiss-Card .card {
    position: relative;
}

.dismiss-Card .card .dismiss-icon {
    color: var(--white-color);
    position: absolute;
    top: 0.5rem;
    left: 24.5rem;
}

/********  Text only Card *******/


.text-only-Card .card {
    border-radius: 0;
}

.text-only-Card .background-Image {
    display: none;
}

.text-only-Card .footer {
    display: none;
}


/***********  Text Over Media Card ***********/

.text-Over-Media-Card {
    position: relative;
}

.heading-On-Top {
    color: var(--white-color);
    position: absolute;
    top: 48%;
}

/*********  onlyButtonsCard ********/

.only-Buttons {
    visibility: hidden;
}

/*********  only Icons Card ********/

.only-Icons {
    visibility: hidden;
}

.container {
    display: flex;
    justify-content: space-between;
}

/*  Horizontal Image Text Card */

.side-Image {
    height: 15vh;
    width: 12vw;
    border-bottom-right-radius: 1rem;
}

.horizontal-Image-Text-Description {
    display: none;
}

/************  desktop ******************/

@media only screen and (max-width: 700px) {
    .card--container {
        width: 100vw;
        display: flex;
        margin: auto;
    }

    .card-section {
        min-width: 100vw;
    }

    .card {
        width: 78vw;
    }

    .side-Image {
        height: 13vh;
        width: 48vw;
    }
}
