@import url('/CSS/components.css');

/*********** input ************/

.input--container {
    margin: 10vh;
    width: 70vw;
    margin-top: 15vh;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(247, 245, 245);
}

.error {
    color: red;
}
.error input {
    border: 1px solid red;
}
.error--msg {
    font-size: 1rem;
    margin: 1rem 0;
}


/****** mobile version  *****/

@media only screen and (max-width: 800px) {
    .drawer {
        width: 60vw;
    }
    html {
        font-size: 0.5rem;
    }
    .input--container {
        margin: 10vh 7vh;
    }
}

/* common */

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}


.wrap {
    flex-wrap: wrap;
}

.h-4 {
    font-size: 4rem;
}

.h-2 {
    font-size: 2rem;
}

.h-1h {
    font-size: 1.5rem;
}

.b-2 {
    border: 2px solid gray;
}

.m-a {
    margin: auto;
}

.mr-1 {
    margin-right: 1rem;

}
.mv-2 {
    margin: 2vh 0;
}

.mt2-mb6 {
    margin: 3vh 0 6vh 0;
}

.mv-4 {
    margin: 4vh 0;
}
.mv-6 {
    margin: 6vh 0;
}
.mv-8 {
    margin: 8vh;
}

.m-4 {
    margin: 4vh;
}

.p-1 {
    padding: 1rem;
}

.br-5 {
    border-radius: 5px;
}

.fw-1 {
    font-weight: bolder;
}

.gray {
    color: gray;
}