<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Components/Button/button.css">
    <script src="https://kit.fontawesome.com/d53bb09bcf.js" crossorigin="anonymous"></script>

    <title>Buttons page</title>
</head>

<body>

    <div class="Container parentContainer" id="modalDrawerMainBody">

        <header>
            <div class="navBar space-between">
                <div class="nav-left space-evenly">
                    <i class="fas fa-bars hamburgerMenu" id="hamburgerMenuModal"></i>
                    <h3 class="m-r-4">Modal Drawer</h3>
                </div>
                <div class="nav-right space-evenly">
                    <h3 class="m-r-4"><a href="/index.html">Get Started</a></h3>
                    <h3 class="m-r-4"><a href="/home.html">Documentation</a></h3>
                </div>
            </div>
        </header>


        <main>
            <div class="drawer" id="modalDrawer">
                <div class="title">
                    <h2 class="drawerHeading">Menu</h2>
                </div>
                <div class="sideBar">
                    <a href="/Components/Alert/alert.html">Alert</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Avatar/avatar.html">Avatar</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Badge/badge.html">Badge</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Button/button.html">Button</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Grid/grid.html">Grids</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Image/image.html">Images</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Input/input.html">Input</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Lists/lists.html">Lists</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Modal/modal.html">Modal</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Navigation/navigation.html">Navigation</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Rating/rating.html">Rating</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Slider/slider.html">Slider</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Snackbar/snackbar.html">Snackbar</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/TextUtilities/textutilities.html">Text Utilities</a>
                </div>
            </div>

            <div class="button__container">

                <h1 class="h-4">Buttons</h1>
                <p class="h-1h gray">Buttons allow users to take actions, and make choices, with a single tap. </p>

                <h2 class="h-2 mv-4">1) Solid Buttons</h2>
                <p class="h-1h gray">The solid button are high-emphasis, distinguished by their use of elevation and
                    fill. They contain actions that are primary to your app. </p>

                <div class="button__box button--solid space-evenly wrap mv-8">
                    <button class="btn__solid btn__solid--primary h-2 p24 br-5 mv-2">Primary</button>
                    <button class="btn__solid btn__solid--secondary h-2 p24 br-5 mv-2">Secondary</button>
                    <button class="btn__solid btn__solid--danger h-2 p24 br-5 mv-2">Danger</button>
                </div>

                <div class="btn__iFrame center">
                    <iframe class="mt2-mb6"
                        src="https://carbon.now.sh/embed?bg=rgba%2880%2C227%2C194%2C1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522button__box%2520button--solid%2520mv-8%2522%253E%250A%253Cbutton%2520class%253D%2522btn__solid%2520btn__solid--primary%2522%253EPrimary%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn__solid%2520btn__solid--secondary%2522%253ESecondary%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn__solid%2520btn__solid--danger%2522%253EDanger%253C%252Fbutton%253E%250A%253C%252Fdiv%253E"
                        style="width: 755px; height: 282px; border:0; overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>


                <h2 class="h-2 mv-4">2) Outline Buttons</h2>
                <p class="h-1h gray">The outline button are medium-emphasis buttons. They contain actions that are
                    important but aren't the primary action in an app. </p>

                <div class="button__box button--outline space-evenly wrap mv-8">
                    <button class="btn__outline btn__outline--primary h-2 p24 br-5 mv-2">Primary</button>
                    <button class="btn__outline btn__outline--secondary h-2 p24 br-5 mv-2">Secondary</button>
                    <button class="btn__outline btn__outline--danger h-2 p24 br-5 mv-2">Danger</button>
                </div>

                <div class="btn__iFrame center">
                    <iframe class="mt2-mb6"
                        src="https://carbon.now.sh/embed?bg=rgba%2880%2C227%2C194%2C1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522button__box%2520button--outline%2520mv-8%2522%253E%250A%253Cbutton%2520class%253D%2522btn__outline%2520btn__outline--primary%2522%253EPrimary%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn__outline%2520btn__outline--secondary%2522%253ESecondary%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn__outline%2520btn__outline--danger%2522%253EDanger%253C%252Fbutton%253E%250A%253C%252Fdiv%253E"
                        style="width: 791px; height: 282px; border:0; overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>


                <h2 class="h-2 mv-4">3) Icon Buttons</h2>
                <p class="h-1h gray">Sometimes you might want to have icons for certain buttons to enhance the UX of the
                    application as we recognize logos more easily than plain text. For example, if you have a delete
                    button you can label it with a dustbin icon. </p>

                <div class="button__box button--icon space-evenly wrap mv-8">
                    <button class="btn__icon btn__icon--primary space-evenly h-2 p24 br-5 mv-2"><i
                            class="fas fa-trash mr-1"></i>Delete</button>
                    <button class="btn__icon btn__icon--secondary h-2 p24 br-5 mv-2"><i
                            class="fas fa-shopping-cart mr-1"></i>Move to
                        Cart</button>
                    <button class="btn__icon btn__icon--danger h-2 p24 br-5 mv-2"><i
                            class="fas fa-star mr-1"></i>Wishlist</button>
                </div>

                <div class="btn__iFrame center">
                    <iframe class="mt2-mb6"
                        src="https://carbon.now.sh/embed?bg=rgba%2880%2C227%2C194%2C1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522button__box%2520button--icon%2522%253E%250A%253Cbutton%2520class%253D%2522btn__icon%2520btn__icon--primary%2520space-evenly%2522%253E%253Ci%2520class%253D%2522fas%2520fa-trash%2522%253E%253C%252Fi%253EDelete%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn__icon%2520btn__icon--secondary%2522%253E%253Ci%2520class%253D%2522fas%2520fa-shopping-cart%2522%253E%253C%252Fi%253EMove%2520to%2520Cart%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn__icon%2520btn__icon--danger%2522%253E%253Ci%2520class%253D%2522far%2520fa-star%2522%253E%253C%252Fi%253EWishlist%253C%252Fbutton%253E%250A%253C%252Fdiv%253E"
                        style="width: 1024px; height: 322px; border:0; overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>


                <h2 class="h-2 mv-4">4) Link Button</h2>
                <p class="h-1h gray">Link buttons have a link attached to them. </p>

                <div class="button__box button--link space-evenly wrap mv-8">
                    <button class="btn__link space-evenly h-2 p24 mv-2"><a href="http://">Next</a></button>
                </div>

                <div class="btn__iFrame center">
                    <iframe class="mt2-mb6"
                        src="https://carbon.now.sh/embed?bg=rgba%2880%2C227%2C194%2C1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522button__box%2520button--link%2522%253E%250A%253Cbutton%2520class%253D%2522btn__link%2522%253E%253Ca%2520href%253D%2522http%253A%252F%252F%2522%253ENext%2520page%253C%252Fa%253E%253C%252Fbutton%253E%250A%253C%252Fdiv%253E"
                        style="width: 746px; height: 242px; border:0; overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>


                <h2 class="h-2 mv-4">5) Floating action Button</h2>
                <p class="h-1h gray">A floating action button (FAB) performs the primary, or most common, action on a
                    screen. It appears in front of all screen content, typically as a circular shape with an icon in its
                    center.</p>

                <div class="button__box button--float space-evenly wrap mv-8">
                    <button class="btn__float space-evenly h-2 p24 mv-2"><i class="fas fa-share-alt"></i></button>
                </div>

                <div class="btn__iFrame center">
                    <iframe class="mt2-mb6"
                        src="https://carbon.now.sh/embed?bg=rgba%2880%2C227%2C194%2C1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522button__box%2520button--float%2522%253E%250A%253Cbutton%2520class%253D%2522btn__float%2522%253E%253Ci%2520class%253D%2522fas%2520fa-share-alt%2522%253E%253C%252Fi%253E%253C%252Fbutton%253E%250A%253C%252Fdiv%253E"
                        style="width: 747px; height: 225px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>

            </div>
        </main>
    </div>

    <footer class="space-between">
        <button class="nav_btn prev_page fw-1 m-4 p-1"><a href="/Components/Badge/badge.html">&lt; Badge</a></button>
        <button class="nav_btn next_page fw-1 m-4 p-1"><a href="/Components/Grid/grid.html">Grid &gt;</a></button>
    </footer>
    <script src="/script/home.js"></script>
</body>

</html>