@import url('/CSS/styleGuide.css');
@import url('/CSS/sideBar.css');  
@import url('/CSS/home.css');
@import url('/CSS/reset.css');

/******** Main body **************/

/******** Avatar *******/

.avatar--container {
  margin: 10vh;
  width: 70vw;
}

/* image */
.avatar__img {
    border-radius: 50%;
    object-fit: cover;
}
.avatar__img--sm {
    height: 5rem;
    width: 5rem;
}
.avatar__img--md {
    height: 7.5rem;
    width: 7.5rem;
}
.avatar__img--lg {
    height: 10rem;
    width: 10rem;
}

/* letter */
.avatar__letter{
  color: white;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid lightgray;
}
.avatar__ltr--sm{
  height: 5rem;
  width: 5rem;
  font-size: 4.5rem;
  background-color: skyblue;
}
.avatar__ltr--md{
  height: 7.5rem;
  width: 7.5rem;
  font-size: 7rem;
  background-color: lightgreen;
}
.avatar__ltr--lg{
  height: 10rem;
  width: 10rem;
  font-size: 9rem;
  background-color: red;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-direction {
  display: flex;
  flex-direction: row;
  align-items: center;
}


/* footer */

.nav_btn {
  background: whitesmoke;
  border: none;
  cursor: pointer;
}

/****** mobile version  *****/

@media only screen and (max-width: 500px) {
  .drawer {
    width: 60vw;
  }
}

/* common */

.wrap {
  flex-wrap: wrap;
}

.h-4 {
  font-size: 4rem;
}
.h-2 {
  font-size: 2rem;
}
.h-1h {
  font-size: 1.5rem;
}

.b-2 {
  border: 2px solid gray;
}

.m-a{
  margin: auto;
}
.mt2-mb6 {
  margin: 3vh 0 6vh 0;
}
.mv-4 {
  margin: 4vh 0;
}
.m-4 {
  margin: 4vh;
}

.p-1 {
  padding: 1rem;
}

.br-5 {
  border-radius: 5px;
}

.fw-1 {
  font-weight:bolder;
}

.gray {
  color: gray;
}

