<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Components/Alert/alert.css">
    <title>Alert page</title>
</head>
<body>
    <header></header>
    <main>
        <div class="Container parentContainer" id="modalDrawerMainBody">

            <div class="navBar space-between">
                <div class="nav-left space-evenly">
                <i class="fas fa-bars hamburgerMenu" id="hamburgerMenuModal"></i>
                <h3 class="m-r-4">Modal Drawer</h3>
                </div>
                <div class="nav-right space-evenly">
                    <h3 class="m-r-4"><a href="/index.html">Get Started</a></h3>
                    <h3 class="m-r-4"><a href="/home.html">Components</a></h3>
                </div>
            </div>
            
            <div class="mainPage"><p>Put Content here</p></div>        

            <div class="drawer" id="modalDrawer">
                <div class="title">
                    <h2 class="drawerHeading">Menu</h2>
                </div>
                <div class="sideBar">
                    <a href="/Components/Alert/alert.html">Alert</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Avatar/avatar.html">Avatar</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Badge/badge.html">Badge</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Button/button.html">Button</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Grid/grid.html">Grids</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Image/image.html">Images</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Input/input.html">Input</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Lists/lists.html">Lists</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Modal/modal.html">Modal</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Navigation/navigation.html">Navigation</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Rating/rating.html">Rating</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Slider/slider.html">Slider</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Snackbar/snackbar.html">Snackbar</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/TextUtilities/textutilities.html">Text Utilities</a>
                </div>
            </div>

        </div>
    </main>
    <script src="script/home.js"></script>
    <footer></footer>
</body>
</html>