@import url('/CSS/components.css');

/******** Main body **************/

/******** Avatar *******/

.avatar--container {
  margin: 10vh;
  width: 70vw;
}

.avatar--img, .avatar--letter, .avatar--icon {
  background-color: var(--white-color);
}

/* image */

.avatar--img, .avatar--letter, .avatar--icon {
  border: 2px solid var(--darkGray-color);
  border-radius: 5px;
  margin: 4vh 0;
}

.avatar__img {
    border-radius: 50%;
    object-fit: cover;
    background-color: var(--white-color);
    margin: 4vh 0;
}
.avatar__img--sm {
    height: 5rem;
    width: 5rem;
}
.avatar__img--md {
    height: 7.5rem;
    width: 7.5rem;
}
.avatar__img--lg {
    height: 10rem;
    width: 10rem;
}

/* letter */
.avatar__letter{
  color: var(--white-color);
  display: inline-block;
  border-radius: 50%;
  background-color: var(--white-color);
  border: 2px solid var(--lightgray-color);
  margin: 4vh 0;
}
.avatar__ltr--sm{
  height: 5rem;
  width: 5rem;
  font-size: 4.5rem;
  background-color: var(--blue-color);
}
.avatar__ltr--md{
  height: 7.5rem;
  width: 7.5rem;
  font-size: 7rem;
  background-color: var(--red-color);
}
.avatar__ltr--lg{
  height: 10rem;
  width: 10rem;
  font-size: 9rem;
  background-color: var(--purple-color);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* avatar icon */

.avatar__icon {
  margin: 4vh 0;
}

/****** mobile version  *****/

@media only screen and (max-width: 800px) {
  .alert--container {
    margin: 10vh 10vh;
}
}
