@import url('/CSS/components.css');

/******** Main body **************/

/******** Navigation *******/

.nav--container {
    margin: 10vh;
    width: 70vw;
    margin-top: 15vh;
}

/********************************************* NAVIGATION *******************************/

/*****  container *******/

.drawer__Container {
    height: 50vh;
    width: 80%;
    display: flex;
    border: 3px solid var(--black-color);
    margin: auto;
    margin-top: 8vh;
}

/*****  drawer *******/

.drawer__menu {
    width: 18vw;
    overflow-y: scroll;
}

.drawer__title {
    height: 8.5vh;
    background: var(--black-color);
    color: var( --white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 0.6rem;
}

.mail__add,
.drawer__heading {
    margin: auto;
    cursor: pointer;
}

.textDrawer1 {
    margin: 0 1rem;
}

.sidebar__item {
    height: 5.4vh;
    border: 1px solid var(--white-color);
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
}

.sidebar__item:hover {
    background: var(--superlightBlue-color);
}

.sidebar__item a {
    position: absolute;
    color: rgb(13, 13, 112);
}



/******  main body ************/

.navIcons i {
    color: var(--white-color);
}

.body__heading {
    height: 8.5vh;
    background: var(--purple-color);
    color: var(--white-color);
    display: flex;
    align-items: center;
}

.mainBody {
    width: 100%;
    overflow: scroll;
    background-color: var(--white-color);
}

.drawerDescription {
    font-size: 1rem;
}

h3 {
    margin: 0 1.5rem;
}

.fa-bars {
    margin: 0 2rem;
    padding: 1rem;
}

.fa-bars:hover {
    background: var(--primary-color);
}



/******** Permanent drawer ********/

.permanent__body .body__heading {
    position: sticky;
    top: 0;
}


/********  Dismissible drawer ********/

.dismissibleDrawer {
    width: 0.0001rem;
}

.left {
    display: flex;
    align-items: center;
}

.dismissible__body .body__heading {
    background-color: var(--lightseagreen-color);
}

.dismissible__body .fa-bars:hover {
    background: var(--seagreen-color);
}

/********  Modal drawer ***********/

.drawer__Container--Modal {
    position: relative;
}

.modalDrawer1 {
    position: absolute;
    height: inherit;
    background: var(--background-color);
    visibility: hidden;
    width: 18vw;
}

.modal__body .body__heading {
    background-color: var(--coral-color);
}

.modal__body .fa-bars:hover {
    background: var(--darkCoral-color);
}

/**** icons  ****/
/* 
span {
    margin: 0 2rem 0 0;
} */

span i {
    margin: 0 2rem 0 0;
    cursor: pointer;
}

/**************************** end of nav *****************************************************/

/* mobile mode */

@media only screen and (max-width: 800px) {
    .drawer__menu {
        width: 40vw;
        border: 1px solid var(--darkGray-color);
    }

    html {
        font-size: 0.5rem;
    }

    .drawer--container {
        margin: 10vh 7vh;
    }
    .navIcons {
        display: none;
    }
}