<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/AUIFav.JPG">
    <link rel="stylesheet" href="/Components/Avatar/avatar.css">
    <script src="https://kit.fontawesome.com/d53bb09bcf.js" crossorigin="anonymous"></script>

    <title>Aesthetic | List</title>
</head>

<body>
    <div class="Container parentContainer" id="modalDrawerMainBody">

        <header>
            <div class="navBar space-between">
                <div class="nav-left space-evenly">
                    <i class="fas fa-bars hamburgerMenu" id="hamburgerMenuModal"></i>
                    <h3 class="third-heading logo"><a href="/index.html">Aesthetic-UI</a></h3>
                </div>
                <div class="nav-right space-evenly">
                    <h3 class="third-heading"><a href="/index.html">Get Started</a></h3>
                    <h3 class="third-heading"><a href="/home.html">Docs</a></h3>
                </div>
            </div>
        </header>

        <main>
            <div class="drawer" id="modalDrawer">
                <div class="title">
                    <h2 class="drawerHeading">Menu</h2>
                    <i class="fas fa-times close" id="close"></i>
                </div>
                <div class="sideBar">
                    <a href="/Components/Alert/alert.html">Alert</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Avatar/avatar.html">Avatar</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Badge/badge.html">Badge</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Button/button.html">Button</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Card/card.html">Card</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Grid/grid.html">Grids</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Image/image.html">Images</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Input/input.html">Input</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Lists/lists.html">Lists</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Modal/modal.html">Modal</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Navigation/navigation.html">Navigation</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Rating/rating.html">Rating</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Slider/slider.html">Slider</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/Snackbar/snackbar.html">Snackbar</a>
                </div>
                <div class="sideBar">
                    <a href="/Components/TextUtilities/textutilities.html" target="_blank" >Text Utilities</a>
                </div>
            </div>


            <div class="list--container ">
                <h1 class="first-heading">List</h1>
                <p class="first-para">Lists can be used at so many places, navigation bar, stacked notifications,
                    article pages, etc.</p>

                <h2 class="second-heading">1) Unordered List with bullets</h2>
                <div class="unordered-List space-evenly wrap">
                    <ul class="styled-list-circle wrap">
                        <li>list item 1</li>
                        <li>list item 2</li>
                        <li>list item 3</li>
                    </ul>
                    <ul class="list-style-square wrap">
                        <li>list item 1</li>
                        <li>list item 2</li>
                        <li>list item 3</li>
                    </ul>
                </div>

                <div class="list__frame center">
                    <iframe class="iFrame"
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=javascript&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=169%25&si=false&es=2x&wm=false&code=%253Cul%2520class%253D%2522styled-list-circle%2520wrap%2522%253E%2520%250A%2509%253Cli%253Elist%2520item%25201%253C%252Fli%253E%250A%2509%253Cli%253Elist%2520item%25202%253C%252Fli%253E%250A%2509%253Cli%253Elist%2520item%25203%253C%252Fli%253E%250A%253C%252Ful%253E"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>

                <div class="list__frame center">
                    <iframe class="iFrame"
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=javascript&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=169%25&si=false&es=2x&wm=false&code=%253Cul%2520class%253D%2522list-style-square%2520wrap%2522%253E%2520%250A%2509%253Cli%253Elist%2520item%25201%253C%252Fli%253E%250A%2509%253Cli%253Elist%2520item%25202%253C%252Fli%253E%250A%2509%253Cli%253Elist%2520item%25203%253C%252Fli%253E%250A%253C%252Ful%253E"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>

                <h2 class="second-heading">2) Ordered List with bullets</h2>
                <div class="ordered-List space-evenly wrap">
                    <ol class="styled-list-number wrap">
                        <li>list item 1</li>
                        <li>list item 2</li>
                        <li>list item 3</li>
                    </ol>
                    <ol class="styled-list-roman wrap">
                        <li>list item 1</li>
                        <li>list item 2</li>
                        <li>list item 3</li>
                    </ol>
                    <ol class="styled-list-letter wrap">
                        <li>list item 1</li>
                        <li>list item 2</li>
                        <li>list item 3</li>
                    </ol>
                </div>


                <div class="list__frame center">
                    <iframe class="iFrame"
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=javascript&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=169%25&si=false&es=2x&wm=false&code=%253Col%2520class%253D%2522styled-list-number%2520wrap%2522%253E%250A%2509%253Cli%253Elist%2520item%25201%253C%252Fli%253E%250A%2509%253Cli%253Elist%2520item%25202%253C%252Fli%253E%250A%2509%253Cli%253Elist%2520item%25203%253C%252Fli%253E%250A%253C%252Fol%253E"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>

                <div class="list__frame center">
                    <iframe class="iFrame"
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=javascript&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=169%25&si=false&es=2x&wm=false&code=%253Col%2520class%253D%2522styled-list-roman%2520wrap%2522%253E%250A%2509%253Cli%253Elist%2520item%25201%253C%252Fli%253E%250A%2509%253Cli%253Elist%2520item%25202%253C%252Fli%253E%250A%2509%253Cli%253Elist%2520item%25203%253C%252Fli%253E%250A%253C%252Fol%253E"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>

                <div class="list__frame center">
                    <iframe class="iFrame"
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=javascript&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=169%25&si=false&es=2x&wm=false&code=%253Col%2520class%253D%2522styled-list-letter%2520wrap%2522%253E%250A%2509%253Cli%253Elist%2520item%25201%253C%252Fli%253E%250A%2509%253Cli%253Elist%2520item%25202%253C%252Fli%253E%250A%2509%253Cli%253Elist%2520item%25203%253C%252Fli%253E%250A%253C%252Fol%253E"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>


                <h2 class="second-heading">3) List with no bullets</h2>
                <div class="no-Bullet-List space-evenly wrap">
                    <ol class="styled-list wrap">
                        <li>list item 1</li>
                        <li>list item 2</li>
                        <li>list item 3</li>
                    </ol>
                </div>

                <div class="list__frame center">
                    <iframe class="iFrame"
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=javascript&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=169%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522no-Bullet-List%2520space-evenly%2520wrap%2522%253E%250A%2509%253Col%2520class%253D%2522styled-list%2520wrap%2522%253E%250A%2509%2509%2509%253Cli%253Elist%2520item%25201%253C%252Fli%253E%250A%2509%2509%2509%253Cli%253Elist%2520item%25202%253C%252Fli%253E%250A%2509%2509%2509%253Cli%253Elist%2520item%25203%253C%252Fli%253E%250A%2509%253C%252Fol%253E%250A%253C%252Fdiv%253E"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>

                <h2 class="second-heading">4) List with inline items</h2>
                <div class="inline-List space-evenly wrap">
                    <ul class="styled-list wrap">
                        <li>list item 1</li>
                        <li>list item 2</li>
                        <li>list item 3</li>
                    </ul>
                </div>

                <div class="list__frame center">
                    <iframe class="iFrame"
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=javascript&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=169%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522inline-List%2520space-evenly%2520wrap%2522%253E%250A%2509%253Cul%2520class%253D%2522styled-list%2520wrap%2522%253E%250A%2509%2509%2509%253Cli%253Elist%2520item%25201%253C%252Fli%253E%250A%2509%2509%2509%253Cli%253Elist%2520item%25202%253C%252Fli%253E%250A%2509%2509%2509%253Cli%253Elist%2520item%25203%253C%252Fli%253E%250A%2509%253C%252Ful%253E%250A%253C%252Fdiv%253E"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>

                <h2 class="second-heading">5) Stacked list</h2>
                <div class="stacked-List space-evenly wrap">
                    <ul class="styled-list wrap">
                        <li>Notification 1</li>
                        <li>Notification 2</li>
                        <li>Notification 3</li>
                        <li>Notification 4</li>
                    </ul>
                </div>

                <div class="list__frame center">
                    <iframe class="iFrame"
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=javascript&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=169%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522stacked-List%2520space-evenly%2520wrap%2522%253E%250A%2509%253Cul%2520class%253D%2522styled-list%2520wrap%2522%253E%250A%2509%2509%2509%253Cli%253ENotification%25201%253C%252Fli%253E%250A%2509%2509%2509%253Cli%253ENotification%25202%253C%252Fli%253E%250A%2509%2509%2509%253Cli%253ENotification%25203%253C%252Fli%253E%250A%2509%2509%2509%253Cli%253ENotification%25204%253C%252Fli%253E%250A%2509%253C%252Ful%253E%250A%253C%252Fdiv%253E"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>

            </div>
        </main>

    </div>

    <footer class="space-between">
        <button class="nav_btn prev_page"><a href="/Components/Input/input.html">&lt; Input</a></button>
        <button class="nav_btn next_page"><a href="/Components/Modal/modal.html">Modal &gt;</a></button>
    </footer>
    <script src="/script/home.js"></script>
</body>

</html>