@import url("/CSS/components.css");

/******** Main body **************/

/******** List *******/

.list--container {
  width: 70vw;
  margin: 10rem 0 0 32rem;
}

.unordered-List,
.ordered-List,
.no-Bullet-List,
.inline-List,
.stacked-List {
  font-size: 2rem;
  background-color: var(--white-color);
  min-height: 20vh;
  margin-bottom: 8vh;
}

/* unordered list */

.styled-list-circle li {
  list-style-type: circle;
}

.list-style-square li {
  list-style-type: square;
}

.unordered-List li {
  margin: 1rem;
}

/* ordered list */

.styled-list-number {
  list-style-type: decimal;
}

.styled-list-roman {
  list-style-type: lower-roman;
}

.styled-list-letter {
  list-style-type: lower-alpha;
}

.ordered-List ol {
  margin: 1rem;
}

/* inline list */

.stacked-List ul {
  padding: 2px;
  background-color: var(--gray-color);
}

.stacked-List ul li {
  background-color: var(--white-color);
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
}

.inline-List li {
  margin: 1rem;
}

/****** mobile version  *****/

@media only screen and (max-width: 800px) {
  .list--container {
    margin: 10rem 0 0 6rem;
  }
}
