@import url('/CSS/components.css');

/******** Main body **************/

/******** Rating *******/

.rating--container {
  margin: 10vh;
  width: 70vw;
  min-height: 100vh;
}

.rating {
    height: 20vh;
    flex-direction: column;
}

.heart__ratings {
    color: red;
    cursor: pointer;
}
.star__ratings {
    color: rgb(255, 187, 0);
    cursor: pointer;
}
.star__ratings--black {
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.rating__stars--none {
    color: gray;
    cursor: pointer;
}

.star--effect:hover {
    padding: 105%;
}

.rating__number {
    color: black;
    margin: 0 0 0 1vw;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-direction {
  display: flex;
  flex-direction: row;
  align-items: center;
}


/****** mobile version  *****/

@media only screen and (max-width: 800px) {
  .drawer {
    width: 60vw;
  }
  .snackbar {
    max-width: 80vw;
}
}

/* common */

.wrap {
  flex-wrap: wrap;
}

.h-4 {
  font-size: 4rem;
}
.h-2 {
  font-size: 2rem;
}
.h-1h {
  font-size: 1.5rem;
}

.b-2 {
  border: 2px solid gray;
}

.m-a{
  margin: auto;
}
.mt2-mb6 {
  margin: 3vh 0 6vh 0;
}
.mv-4 {
  margin: 4vh 0;
}
.m-4 {
  margin: 4vh;
}

.p-1 {
  padding: 1rem;
}

.br-5 {
  border-radius: 5px;
}

.fw-1 {
  font-weight:bolder;
}

.gray {
  color: gray;
}

