@import url('/CSS/styleGuide.css');
@import url('/CSS/sideBar.css');
@import url('/CSS/home.css');
@import url('/CSS/reset.css');


/******** Main body **************/

.badge--container {
    margin: 10vh;
    width: 70vw;
}

.each__badge {
    min-height: 18vh;
    margin-top: 5rem;
    font-size: 3rem;
}

.badge {
    left: 6.5rem;
    top: -1.5rem;
    border-radius: 50%;
    background: red;
    color: white;
    padding: 0.2rem 0.8rem;
    font-size: 2rem;
    z-index: 0;
}


/*  small text badge  */

.small-text-Badge{
    position: relative;
}

.navBar {
  z-index: 10;
}
.txt-badge {
  position: absolute;
}

/*  plain button badge  */

.plain-button-Badge {
    position: relative;
}

.plain__btn {
    font-size: 3rem;
    padding: 0.5rem;
    background-color: gold;
    border-radius: 5px;
}

.btn-badge {
    position: absolute;
  z-index: 0;

}

/*  toggle button badge  */

.toggle-button-Badge  {
    position: relative;
}

.toggle__Button {
    font-size: 3rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color:crimson;
}

.hideBadge {
    position: absolute;
}

/* icon badge */

.icon-Badge {
    position: relative;
}

.btn-badge {
  position: absolute;
  left: 5.8rem;
  top: -1.5rem;
}

/* footer */

.nav_btn {
    background: whitesmoke;
    border: none;
    cursor: pointer;
  }

/****** mobile version  *****/

@media only screen and (max-width: 500px) {
  .drawer {
    width: 60vw;
  }
} 

/* common */

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    cursor: pointer;
}

.h-4 {
    font-size: 4rem;
  }
  .h-2 {
    font-size: 2rem;
  }
  .h-1h {
    font-size: 1.5rem;
  }
  
  .b-2 {
    border: 2px dotted gray;
  }
  
  .mt2-mb6 {
    margin: 3vh 0 6vh 0;
  }
  .mv-4 {
    margin: 4vh 0;
  }
  .m-4 {
    margin: 4vh;
  }
  
  .p-1 {
    padding: 1rem;
  }
  
  .br-5 {
    border-radius: 5px;
  }
  
  .fw-1 {
    font-weight:bolder;
  }
  
  .gray {
    color: gray;
  }
  
