@import url('/CSS/components.css');


/******** Main body **************/

.badge--container {
    margin: 10vh;
    width: 70vw;
}

.each__badge {
    min-height: 18vh;
    margin-top: 5rem;
    font-size: 3rem;
    background-color: var(--white-color);
    border: 2px solid var(--darkGray-color);
    border-radius: 5px;
    margin: 4vh 0;
}

.badge {
    left: 6.5rem;
    top: -1.5rem;
    border-radius: 50%;
    background: var(--red-color);
    color: var(--white-color);
    padding: 0.2rem 0.8rem;
    font-size: 2rem;
    z-index: 0;
}


/*  small text badge  */

.small-text-Badge{
    position: relative;
}

.navBar {
  z-index: 10;
}
.txt-badge {
  position: absolute;
}

/*  plain button badge  */

.plain-button-Badge {
    position: relative;
}

.plain__btn {
    font-size: 3rem;
    padding: 0.5rem;
    background-color: var(--gold-color);
    border-radius: 5px;
}

.btn-badge {
    position: absolute;
  z-index: 0;

}

/*  toggle button badge  */

.toggle-button-Badge  {
    position: relative;
}

.toggle__Button {
    font-size: 3rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color:var(--crimson-color);
}

.hideBadge {
    position: absolute;
}

/* icon badge */

.icon-Badge {
    position: relative;
}

.btn-badge {
  position: absolute;
  left: 5.8rem;
  top: -1.5rem;
}

/* avatar badge */

.avatar__icon--badge {
  position: relative;
}
.avatar-badge {
  height: 2.6rem;
  width: 2.5rem;
  position: absolute;
  top: 22rem;
  left: 14.2rem
}

/****** mobile version  *****/

@media only screen and (max-width: 500px) {

} 


