@import url('/CSS/components.css');

/*********** Modal ************/

.modal--container {
  margin: 10vh;
  width: 70vw;
  margin-top: 15vh;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--lightgray-color);
  min-height: 50vh;
  width: 50vw;
  border: 4px solid var(--black-color);
}

.open-alert-box-btn {
  background-color: var(--red-color);
  padding: 1rem;
  left: 35%;
  top: 19rem;
  opacity: 1;
  z-index: 2;
  cursor: pointer;
}
.open-alert-box-btn:hover {
  background-color: var(--crimson-color);
}

/* alert */

.alert__heading {
  display: flex;
  justify-content: space-between;
}

.alert__container {
  min-height: 24vh;
  width: 300px;
  border: 2px solid var(--black-color);
  background: var(--white-color);
  border-radius: 4px;
  opacity: 0;
}

.alert__description {
  border: 2px solid var(--lightgray-color);
  min-height: 14vh;
  margin: 2px;
  width: 97%;
  margin: 0.5rem;
}

.btn__close {
  background: var(--white-color);
  border: solid var(--white-color);
  margin: 2px 5px;
}

.btn__close:hover {
  font-size: 18px;
  cursor: pointer;
}

.btn__box {
  display: flex;
  justify-content: flex-end;
}

.btn-Y,
.btn-N {
  color: var(--white-color);
  padding: 8px 12px;
  border-radius: 4px;
  margin: 2px;
}

.btn-Y {
  background-color: var(--primary-color);
}

.btn-N {
  background-color: var(--red-color);
}

.btn-Y,
.btn-N:hover {
  cursor: pointer;
}



/****** mobile version  *****/

@media only screen and (max-width: 800px) {

  html {
    font-size: 0.8rem;
  }

  .modal--container {
    margin: 10vh 7vh;
  }

  .modal {
    width: 40vw;
  }
}