@import url("/CSS/components.css");

/*********** Modal ************/

.modal--container {
  width: 70vw;
  margin: 10rem 0 0 32rem;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--superlightGray-color);
  min-height: 50vh;
  width: 50vw;
  border: 4px solid var(--black-color);
  margin: 8vh;
}

.open-alert-box-btn {
  background-color: var(--blue-color);
  padding: 1rem;
  left: 35%;
  top: 19rem;
  opacity: 1;
  z-index: 2;
  cursor: pointer;
  border-radius: 5px;
  color: var(--white-color);
}
.open-alert-box-btn:hover {
  background-color: var(--black-color);
}

/* alert */

.alert__heading {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  margin: 5px;
}

.alert__container {
  min-height: 24vh;
  width: 300px;
  border: 2px solid var(--black-color);
  background: var(--white-color);
  border-radius: 4px;
  opacity: 0;
}

.alert__description {
  border: 2px solid var(--lightgray-color);
  min-height: 12vh;
  margin: 4px;
  width: 97%;
  margin: 5px;
  font-size: 1.2rem;
}

.alert__description p {
  margin: 4px;
}

.btn__close {
  background-color: var(--white-color);
  border: solid var(--white-color);
  margin: 2px 5px;
}

.btn__close:hover {
  cursor: pointer;
}

.btn__box {
  display: flex;
  justify-content: flex-end;
}

.btn-Y,
.btn-N {
  color: var(--white-color);
  padding: 8px 12px;
  border-radius: 4px;
  margin: 2px 4px 2px 2px;
  border: none;
}

.btn-Y {
  background-color: var(--seagreen-color);
}

.btn-N {
  background-color: var(--red-color);
}

.btn-Y,
.btn-N:hover {
  cursor: pointer;
}

/****** mobile version  *****/

@media only screen and (max-width: 800px) {
  .modal--container {
    margin: 10rem 0 0 7rem;
  }

  .modal {
    width: 40vw;
  }

  .modal {
    background-color: var(--background-color);
    border: none;
  }

  .modal__iFrame {
    display: flex;
    justify-content: center;
  }
}
