<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Garima" />
    <meta
      name="keywords"
      content="HTML, CSS, JavaScript, Component Library, text, utilties, typography, components, aesthetic, ui, react, angular, vue"
    />
    <meta
      name="description"
      content="Aesthetic UI provides a robust, customizable, and accessible library of foundational and advanced components, enabling you to build your own design system and develop applications faster."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/images/AUIFav.JPG" />
    <link rel="stylesheet" href="/Components/TextUtilities/textUtilities.css" />
    <script
      src="https://kit.fontawesome.com/d53bb09bcf.js"
      crossorigin="anonymous"
    ></script>

    <title>Aesthetic | Text Utilities</title>
  </head>

  <body>
    <div class="Container parentContainer" id="modalDrawerMainBody">
      <header>
        <div class="navBar space-between">
          <div class="nav-left space-evenly">
            <i class="fas fa-bars hamburgerMenu" id="hamburgerMenuModal"></i>
            <h3 class="third-heading logo">
              <a href="/index.html">Aesthetic-UI</a>
            </h3>
          </div>
          <div class="nav-right space-evenly">
            <h3 class="third-heading"><a href="/index.html">Get Started</a></h3>
            <h3 class="third-heading"><a href="/home.html">Docs</a></h3>
          </div>
        </div>
      </header>

      <main>
        <div class="drawer" id="modalDrawer">
          <div class="title">
            <h2 class="drawerHeading">Menu</h2>
            <i class="fas fa-times close" id="close"></i>
          </div>
          <div class="sideBar">
            <a href="/Components/Alert/alert.html">Alert</a>
          </div>
          <div class="sideBar">
            <a href="/Components/Avatar/avatar.html">Avatar</a>
          </div>
          <div class="sideBar">
            <a href="/Components/Badge/badge.html">Badge</a>
          </div>
          <div class="sideBar">
            <a href="/Components/Button/button.html">Button</a>
          </div>
          <div class="sideBar">
            <a href="/Components/Card/card.html">Card</a>
          </div>
          <div class="sideBar">
            <a href="/Components/Grid/grid.html">Grids</a>
          </div>
          <div class="sideBar">
            <a href="/Components/Image/image.html">Images</a>
          </div>
          <div class="sideBar">
            <a href="/Components/Input/input.html">Input</a>
          </div>
          <div class="sideBar">
            <a href="/Components/Lists/lists.html">Lists</a>
          </div>
          <div class="sideBar">
            <a href="/Components/Modal/modal.html">Modal</a>
          </div>
          <div class="sideBar">
            <a href="/Components/Navigation/navigation.html">Navigation</a>
          </div>
          <div class="sideBar">
            <a href="/Components/Rating/rating.html">Rating</a>
          </div>
          <div class="sideBar">
            <a href="/Components/Slider/slider.html">Slider</a>
          </div>
          <div class="sideBar">
            <a href="/Components/Snackbar/snackbar.html">Snackbar</a>
          </div>
          <div class="sideBar">
            <a
              href="/Components/TextUtilities/textutilities.html"
              target="_blank"
              >Text Utilities</a
            >
          </div>
        </div>

        <div class="textUtilty--container">
          <h1 class="first-heading">Text Utilties</h1>
          <p class="first-para">
            Documentation and examples for common text utilities to control
            alignment, wrapping, weight, decoration and more.
          </p>

          <h2 class="second-heading">1) Headings</h2>
          <div class="txt-container space-evenly wrap">
            <h1 class="heading1">h1 - Heading</h1>
            <h2 class="heading2">h2 - Heading</h2>
            <h3 class="heading3">h3 - Heading</h3>
            <h4 class="heading4">h4 - Heading</h4>
            <h5 class="heading5">h5 - Heading</h5>
          </div>

          <div class="baseline__frame center">
            <iframe
              class="iFrame"
              src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=javascript&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=169%25&si=false&es=2x&wm=false&code=%253Ch1%253Eh1%2520-%2520Heading%253C%252Fh1%253E%250A%253Ch2%253Eh2%2520-%2520Heading%253C%252Fh2%253E%250A%253Ch3%253Eh3%2520-%2520Heading%253C%252Fh3%253E%250A%253Ch4%253Eh4%2520-%2520Heading%253C%252Fh4%253E%250A%253Ch5%253Eh5%2520-%2520Heading%253C%252Fh5%253E"
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>

          <h2 class="second-heading">2) Paragraph</h2>
          <div class="txt-container">
            <p class="text-fs1">Lorem ipsum dolor sit amet.</p>
            <p class="text-fs2">Lorem ipsum dolor sit amet.</p>
            <p class="text-fs3">Lorem ipsum dolor sit amet.</p>
            <p class="text-fs4">Lorem ipsum dolor sit amet.</p>
            <p class="text-fs5">Lorem ipsum dolor sit amet.</p>
          </div>

          <div class="baseline__frame center">
            <iframe
              class="iFrame"
              src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=javascript&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=169%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522text-fs1%2522%253ELorem%2520ipsum%2520dolor%2520sit%2520amet.%253C%252Fp%253E%250A%253Cp%2520class%253D%2522text-fs2%2522%253ELorem%2520ipsum%2520dolor%2520sit%2520amet.%253C%252Fp%253E%250A%253Cp%2520class%253D%2522text-fs3%2522%253ELorem%2520ipsum%2520dolor%2520sit%2520amet.%253C%252Fp%253E%250A%253Cp%2520class%253D%2522text-fs4%2522%253ELorem%2520ipsum%2520dolor%2520sit%2520amet.%253C%252Fp%253E%250A%253Cp%2520class%253D%2522text-fs5%2522%253ELorem%2520ipsum%2520dolor%2520sit%2520amet.%253C%252Fp%253E"
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>

          <h2 class="second-heading">3) Aligned text</h2>
          <div class="txt-container">
            <p class="flex-m1 text-left">I am at the Left</p>
            <p class="flex-m1 text-center">I am at the Center</p>
            <p class="flex-m1 text-right">I am at the Right</p>
          </div>

          <div class="baseline__frame center">
            <iframe
              class="iFrame"
              src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=javascript&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=169%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522flex-m1%2520text-left%2522%253EI%2520am%2520at%2520the%2520Left%253C%252Fp%253E%250A%253Cp%2520class%253D%2522flex-m1%2520text-center%2522%253EI%2520am%2520at%2520the%2520Center%253C%252Fp%253E%250A%253Cp%2520class%253D%2522flex-m1%2520text-right%2522%253EI%2520am%2520at%2520the%2520Right%253C%252Fp%253E"
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>

          <h2 class="second-heading">4) Text wrapping and overflow</h2>
          <div class="txt-container space-evenly wrap">
            <div class="text-container overflow flex-m1">
              This text will overflow
            </div>
            <div class="text-container wrap flex-m1">This text will wrap</div>
          </div>

          <div class="baseline__frame center">
            <iframe
              class="iFrame"
              src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=javascript&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=169%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522text-container%2520overflow%2522%253EThis%2520text%2520will%2520overflow%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522text-container%2520wrap%2522%253EThis%2520text%2520will%2520wrap%253C%252Fdiv%253E"
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>

          <h2 class="second-heading">5) Text transform</h2>
          <div class="txt-container space-evenly wrap">
            <p class="text-upperCase fs-2">Uppercased text</p>
            <p class="text-lowerCase fs-2">Lowercased text</p>
            <p class="text-capitalCase fs-2">Capitalized ext</p>
          </div>

          <div class="baseline__frame center">
            <iframe
              class="iFrame"
              src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=javascript&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=169%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522text-upperCase%2522%253EUppercased%2520text%253C%252Fp%253E%250A%253Cp%2520class%253D%2522text-lowerCase%2522%253ELowercased%2520text%253C%252Fp%253E%250A%253Cp%2520class%253D%2522text-capitalCase%2522%253ECapitalized%2520ext%253C%252Fp%253E"
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>

          <h2 class="second-heading">6) Font weight and italics</h2>
          <div class="txt-container space-evenly wrap">
            <p class="fs-2">Normal text</p>
            <p class="text-bold fs-2">Bold text</p>
            <p class="text-italic fs-2">Italic text</p>
          </div>

          <div class="baseline__frame center">
            <iframe
              class="iFrame"
              src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=javascript&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=169%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522text%2522%253ENormal%2520text%253C%252Fp%253E%250A%253Cp%2520class%253D%2522text-bold%2522%253EBold%2520text%253C%252Fp%253E%250A%253Cp%2520class%253D%2522text-italic%2522%253EItalic%2520text%253C%252Fp%253E"
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>

          <h2 class="second-heading">7) Text decoration</h2>
          <div class="txt-container space-evenly wrap">
            <p class="text-underline fs-2">Underlined text</p>
            <p class="text-line-through fs-2">Line through text</p>
            <p class="text-overline fs-2">Overlined text</p>
          </div>

          <div class="baseline__frame center">
            <iframe
              class="iFrame"
              src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=javascript&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=169%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522text-underline%2522%253EUnderlined%2520text%253C%252Fp%253E%250A%253Cp%2520class%253D%2522text-line-through%2522%253ELine%2520through%2520text%253C%252Fp%253E%250A%253Cp%2520class%253D%2522text-overline%2522%253EOverlined%2520text%253C%252Fp%253E"
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
        </div>
      </main>
    </div>

    <footer class="space-between">
      <button class="nav_btn prev_page">
        <a href="/Components/Snackbar/snackbar.html">&lt; Snackbar</a>
      </button>
      <button class="nav_btn next_page">
        <a href="/Components/Alert/alert.html">Alert &gt;</a>
      </button>
    </footer>
    <script src="/script/home.js"></script>
    <script src="/Components/Snackbar/snackbar.js"></script>
  </body>
</html>
