@import url('/CSS/components.css');

/*********** alert ************/

.alert--container {
    margin: 10vh;
    width: 70vw;
    margin-top: 15vh;
}

.alerts {
    margin: 6vh 0 11vh 0;
}

/* alerts */

.alert {
    height: 8vh;
    width: 55vw;
    font-size: 1.5rem;
    margin: 2vh 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.bold {
    padding: 1rem;
}

/* simple alert */

.btn__simple--primary,  .btn__outlined--primary{
    padding: 1rem;
    background-color: var(--blue-color);
    color: white;
    border-radius: 5px;
}

.btn__simple--error, .btn__outlined--error {
    padding: 1rem;
    background-color: var(--red-color);
    color: white;
    border-radius: 5px;
}

.btn__simple--success, .btn__outlined--success {
    padding: 1rem;
    background-color: var(--lightgreen-color);
    color: white;
    border-radius: 5px;
}

.btn__simple--warning, .btn__outlined--warning {
    padding: 1rem;
    background-color: var(--orange-color);
    color: white;
    border-radius: 5px;
}


.btn__simple--primary:hover, .btn__outlined--primary:hover {
    background: var(--darkBlue-color);
}
.btn__simple--error:hover, .btn__outlined--error:hover {
    background: var(--darkRed-color);
}
.btn__simple--success:hover, .btn__outlined--success:hover {
    background: var(--green-color);
}
.btn__simple--warning:hover, .btn__outlined--warning:hover {
    background: var(--darkOrange-color);
}

.simple--alerts {
    color: white;
    position: relative;
}

.simple--primary {
    background: var(--blue-color);
    position: absolute;
    top: 5rem;
    visibility: hidden;
}

.simple--error {
    position: absolute;
    top: 5rem;
    visibility: hidden;
    background: var(--red-color);
}

.simple--success {
    top: 5rem;
    position: absolute;
    visibility: hidden;
    background: var(--lightgreen-color);
}

.simple--warning {
    top: 5rem;
    position: absolute;
    visibility: hidden;
    background: var(--orange-color);
}



/* outlined alert */

.outlined--alerts {
    color: var(--white-color);
    position: relative;
}

.outlined--primary {
    color: var(--blue-color);
    border: 1px solid var(--gray-color);
    background-color: var(--white-color);
    position: absolute;
    top: 5rem;
    visibility: hidden;
}

.outlined--error {
    color: var(--red-color);
    background-color: var(--white-color);
    border: 1px solid var(--red-color);
    position: absolute;
    top: 5rem;
    visibility: hidden;
}

.outlined--success {
    color: lightgreen;
    background-color: var(--white-color);
    border: 1px solid var(--darkGreen-color);
    position: absolute;
    top: 5rem;
    visibility: hidden;
}

.outlined--warning {
    color: orange;
    background-color: var(--white-color);
    border: 1px solid var(--darkOrange-color);
    position: absolute;
    top: 5rem;
    visibility: hidden;
}

/* action alerts */

.action {
    border: 1px solid var(--black-color);
    background-color: var(--superlightgreen-color);
}
.undo {
    border: none;
    background-color: var(--superlightgreen-color);
}
.undo:hover {
    background-color: var(--lightgreen-color);
}

.undo {
    margin-right: 1rem;
}

/* transition */

.reOpen-Btn {
    background-color: var(--white-color);
    color: var(--darkGray-color);
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;
}
.reOpen-Btn:hover {
    color: var(--black-color);
}
