@import url('/CSS/components.css');

/*********** alert ************/

.alert--container {
    margin: 10vh;
    width: 70vw;
    margin-top: 15vh;
}

/* alerts */

.alert {
    height: 8vh;
    width: 55vw;
    display: flex;
    align-items: center;
}

/* simple alert */

.btn__simple--primary,  .btn__outlined--primary{
    padding: 1rem;
    background-color: blue;
    color: white;
    border-radius: 5px;
}

.btn__simple--error, .btn__outlined--error {
    padding: 1rem;
    background-color: red;
    color: white;
    border-radius: 5px;
}

.btn__simple--success, .btn__outlined--success {
    padding: 1rem;
    background-color: lightgreen;
    color: white;
    border-radius: 5px;
}

.btn__simple--warning, .btn__outlined--warning {
    padding: 1rem;
    background-color: orange;
    color: white;
    border-radius: 5px;
}


.btn__simple--primary:hover, .btn__outlined--primary:hover {
    background: darkblue;
}
.btn__simple--error:hover, .btn__outlined--error:hover {
    background: darkred;
}
.btn__simple--success:hover, .btn__outlined--success:hover {
    background: green;
}
.btn__simple--warning:hover, .btn__outlined--warning:hover {
    background: darkorange;
}

.simple--alerts {
    color: white;
    position: relative;
}

.simple--primary {
    background: blue;
    position: absolute;
    top: 5rem;
    visibility: hidden;
}

.simple--error {
    position: absolute;
    top: 5rem;
    visibility: hidden;
    background: red;
}

.simple--success {
    top: 5rem;
    position: absolute;
    visibility: hidden;
    background: lightgreen;
}

.simple--warning {
    top: 5rem;
    position: absolute;
    visibility: hidden;
    background: orange;
}



/* outlined alert */

.outlined--alerts {
    color: white;
    position: relative;
}

.outlined--primary {
    color: blue;
    border: 1px solid rgb(187, 187, 214);
    background-color: white;
    position: absolute;
    top: 5rem;
    visibility: hidden;
}

.outlined--error {
    color: red;
    background-color: white;
    border: 1px solid red;
    position: absolute;
    top: 5rem;
    visibility: hidden;
}

.outlined--success {
    color: lightgreen;
    background-color: white;
    border: 1px solid rgb(0, 75, 0);
    position: absolute;
    top: 5rem;
    visibility: hidden;
}

.outlined--warning {
    color: orange;
    background-color: white;
    border: 1px solid rgb(233, 128, 0);
    position: absolute;
    top: 5rem;
    visibility: hidden;
}

/* action alerts */

.action {
    border: 1px solid black;
    background-color: rgb(227, 252, 227);
}
.undo {
    border: none;
    background-color: rgb(227, 252, 227);
}
.undo:hover {
    background-color: rgb(207, 253, 207);
}

/* transition */

.reOpen-Btn {
    background-color: white;
    color: gray;
    cursor: pointer;
}
.reOpen-Btn:hover {
    color: black;
}


/****** mobile version  *****/

@media only screen and (max-width: 500px) {
    .drawer {
        width: 60vw;
    }
}

/* common */

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}


.wrap {
    flex-wrap: wrap;
}

.h-4 {
    font-size: 4rem;
}

.h-2 {
    font-size: 2rem;
}

.h-1h {
    font-size: 1.5rem;
}

.b-2 {
    border: 2px solid gray;
}

.m-a {
    margin: auto;
}

.mr-1 {
    margin-right: 1rem;

}
.mv-2 {
    margin: 2vh 0;
}

.mt2-mb6 {
    margin: 3vh 0 6vh 0;
}

.mv-4 {
    margin: 4vh 0;
}
.mv-6 {
    margin: 6vh 0;
}
.mv-8 {
    margin: 8vh;
}

.m-4 {
    margin: 4vh;
}

.p-1 {
    padding: 1rem;
}

.br-5 {
    border-radius: 5px;
}

.fw-1 {
    font-weight: bolder;
}

.gray {
    color: gray;
}